---
layout: gallery
title: Pattern Parts 4
description: Mixed pattern parts
tags: geometric, patterns, 2D, SVG
---

<h1>Pattern Parts (4)</h1>
<div class="hr"></div>

{% SVG_gallery 004/patterns // patterns // 200 // 0 // 4 %}
