---
layout: content
title: 404
permalink: 404.html
---

<h1 class="C404">Sorry</h1>
<hr class="C404">

<section class="C404">
  <p>
    Sorry, but that page does not exist. The Pattern Parts home page is <a href="{{ site.baseurl }}/">here</a> and the parts catalog <a href="{{ site.baseurl }}/galleries">here</a>.
  </p>
</section>

