---
layout: content
title: About Pattern Parts
permalink: about.html
---

<h1>About Pattern Parts</h1>
<div class="hr"></div>

<section class="text">
  <h1>Why pattern parts?</h1>

  <p>
    This site provides computer-generated geometric
    patterns for graphic designers, surface designers
    or anyone else that works with patterns. These
    patterns have no specific color or styling applied
    so I'm calling them <i>Pattern Parts</i> rather
    than finished patterns. This means you can color,
    modify and combine them as you see fit.
  </p>

  <h1>The patterns</h1>
  <p>
    Pattern parts are strictly 2D geometric patterns
    which I've collected into
    <a href="{{ site.baseurl }}/galleries">galleries</a>
    of twenty or so patterns. There will inevitably be
    some repeated&mdash;or very similar&mdash;patterns
    across galleries,
    although I will try to keep those to a miniumum.
    Occasionally I will add galleries whose patterns all
    have a <a href="{{ site.baseurl }}/galleries/006-braids-01/">
    similar visual theme</a>.
  </p>

  <h1>Formats</h1>
  <p>
    These patterns are generated as SVG (Scalable Vector Graphics)
    files which you can view or download, but each pattern also
    has a link to download an EPS and PDF version.  Each gallery
    has a link to download a
    <a href="{{site.baseurl}}/galleries/002/patterns/002-A4.pdf">
    one-page PDF</a> catalog
    of that gallery and a zip file of all the files in that
    gallery.
  </p>

  <h1>Seamless repeats</h1>
  <p>
    Many of these patterns should be able to be repeated
    seamlessly both horizontally and vertically. However,
    some patterns created on a parallelogram shaped
    repeat unit may not appear to repeat seamlessly. To
    show these patterns in a rectangular frame I've hidden
    the sloping parts of the parallelograms, but they are
    still present in the SVG files. If you open the
    corresponding SVG file in your favourite vector graphics
    editor you may be able to select a full repeat unit.
  </p>

  <h1>Licensing</h1>
  <p>
    All patterns on this site are licensed under a
    <a href="http://creativecommons.org/licenses/by/4.0/">
    Creative Commons</a> license that allows you to adapt
    and share as you need, including commercial use.
  </p>

  <h1>Credits</h1>
  <p>
    Site design based on a commercial Zurb Foundation theme
    purchased
    <a href="https://www.foundationmade.com/themes/item/FMwZh5tn">
    here</a>.
  </p>
</section>
