---
layout: content
title: Updates
permalink: updates.html
---

<h1>Updates</h1>
<div class="hr"></div>

<section class="text">
  <h2>2015-19-06</h2>

  <ul class="update">
    <li>
      Added gallery
      <a href="{{ site.baseurl }}/galleries/015/">15</a>
    </li>
  </ul>

<section class="text">
  <h2>2014-11-23</h2>

  <ul class="update">
    <li>
      Added galleries
      <a href="{{ site.baseurl }}/galleries/013/">13</a> and
      <a href="{{ site.baseurl }}/galleries/014-stars-01/">14</a> (stars 01).
    </li>
  </ul>

  <h2>2014-11-15</h2>

  <ul class="update">
    <li>
      Added this updates page for highlighting changes to the site.
    </li>

    <li>
      Added galleries
      <a href="{{ site.baseurl }}/galleries/011/">11</a> and
      <a href="{{ site.baseurl }}/galleries/012/">12</a>.
    </li>

    <li>
      Changed the aspect ratio of some patterns for consistency
      with other patterns in the same galleries.
    </li>
  <ul>
</section>
