---
layout: gallery
title: Stars&mdash;1
description: Pattern parts of star-like motifs
tags: stars
---

<h1>Stars (1)</h1>
<div class="hr"></div>

{% SVG_gallery 014-stars-01/patterns // patterns // 200 // 0 // 4 %}
