<section class="catalog">
  <ul>
  {% for gallery in catalog %}
    <li>
      <a href="{{ gallery.base }}{{ gallery.dir }}"
         title="Gallery: {{ gallery.caption }}">
        <img src="{{ gallery.base }}{{ gallery.file }}"
             alt="Gallery: {{ gallery.caption }} [{{ gallery.count }}]">
      </a>

      <div class="name">
        <a href="{{ gallery.base }}{{ gallery.dir }}"
           title="Gallery: {{ gallery.caption }} [{{ gallery.count }}]">
        {{ gallery.caption }}&ensp;[{{ gallery.count }}]
        </a>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>
