<footer>
  <section>
      Vector and image files license:
      Creative Commons
      <a href="http://creativecommons.org/licenses/by/4.0/">
      CC BY 4.0</a>&nbsp;
      <a href="http://creativecommons.org/licenses/by/4.0/">
      <i class="fa fa-cc"></i></a>
      <br>
      All other files:
      <a href="http://opensource.org/licenses/MIT">MIT license</a>.

      Contact: <a href="mailto:ornamentist@ornamentist.org">Ornamentist</a>
      &thinsp; | &thinsp; Source:
      <a href="https://github.com/ornamentist/pattern-parts">
      Github <i class="fa fa-github"></i></a>
  </section>
</footer>
