<section class="downloads">
  <a href="{{zip}}"
     title="download pattern parts zip file">
    zip file
  </a>
  &ensp;:&ensp;
  <a href="{{pdf}}"
     title="download pattern parts PDF catalog">
    PDF catalog
  </a>
</section>

<section class="gallery">
  <ul>
  {% for pattern in patterns %}
    <li>
      <a class="fancybox" rel="group"
         href="{{ base }}{{ pattern.path }}"
         title="Pattern: {{ pattern.caption }}">
        <img src="{{ base }}{{ pattern.path }}"
             alt="{{ pattern.caption }}">
      </a>

      <div class="caption">
        <div class="name">
        <a href="{{ base }}{{ pattern.path }}"
           title="Pattern: {{ pattern.caption }}">
          {{ pattern.name }}
        </a>
        </div>
        &emsp;
        <div class="formats">
        {% for format in pattern.formats %}
        <a href="{{ base }}{{ format[1] }}"
           title="pattern in {{ format[0] }} format">
         {{ format[0] }}
        </a>

        {% if forloop.rindex > 1 %}:{% endif %}
        {% endfor %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

<section class="pagination">
  <ul>
    <li class="arrow">
      <a href="{{ base }}{{ others.first }}" title="first gallery">
        &laquo;
      </a>
    </li>

    {% for peer in others %}
      {% capture current %}
        {% if peer == context %}
          class="current"
        {% endif %}
      {% endcapture %}

      <li {{ current }}>
        <a href="{{ base }}{{ peer }}">
          {{ forloop.index }}
        </a>
      </li>
    {% endfor %}

    <li class="arrow">
      <a href="{{ base }}{{ others.last }}" title="last gallery">
        &raquo;
      </a>
    </li>
  </ul>
</section>

<!--
<section class="downloads">
  <h2>Gallery downloads</h2>

  <ul>
    <li>

    </li>
  </ul>
</section>
-->
