<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">


  <!-- Device metadata -->

  <meta content="yes"
        name="apple-mobile-web-app-capable">

  <meta name="apple-mobile-web-app-status-bar-style"
        content="black-translucent">


  <!-- Favicon -->

  <link rel="icon"
        sizes="16x16 32x32 48x48 64x64"
        type="image/x-icon"
        href="{{ site.baseurl }}/assets/icons/favicon.ico">

  <link rel="apple-touch-icon-precomposed"
        href="{{ site.baseurl }}/assets/icons/favicon-152.png">

  <link rel="apple-touch-icon-precomposed"
        sizes="152x152"
        href="{{ site.baseurl }}/assets/icons/favicon-152.png">

  <link rel="apple-touch-icon-precomposed"
        sizes="144x144"
        href="{{ site.baseurl }}/assets/icons/favicon-144.png">

  <link rel="apple-touch-icon-precomposed"
        sizes="120x120"
        href="{{ site.baseurl }}/assets/icons/favicon-120.png">

  <link rel="apple-touch-icon-precomposed"
        sizes="114x114"
        href="{{ site.baseurl }}/assets/icons/favicon-114.png">

  <link rel="apple-touch-icon-precomposed"
        sizes="72x72"
        href="{{ site.baseurl }}/assets/icons/favicon-72.png">

  <link rel="apple-touch-icon-precomposed"
        href="{{ site.baseurl}}/assets/icons/favicon-57.png">


  <!-- Descriptive metadata -->

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <link rel="author" href="{{ site.baseurl }}/humans.txt">
  <meta name="description" content="{{ site.description }}">


  <!-- Canonical page link -->

  <link rel="canonical"
        href="{{ site.url }}{{ page.url | replace:'index.html','' }}">


  <!-- Google web fonts -->

  <link href="http://fonts.googleapis.com/css?family=Satisfy"
        rel="stylesheet"
        type="text/css">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic"
        rel="stylesheet"
        type="text/css">


  <!-- Icon fonts from Font Awesome -->

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
        rel="stylesheet"
        type="text/css">


  <!-- Site CSS -->

  <link rel="stylesheet"
        href="{{ site.baseurl }}/assets/stylesheets/parts.css">


  <!-- jQuery source -->

  <script type="text/javascript"
          src="{{ site.baseurl }}/vendor/jquery/jquery.min.js">
  </script>


  <!-- Zurb Foundation Javascript source -->

  <script type="text/javascript"
          src="{{ site.baseurl }}/vendor/foundation/js/foundation.js">
  </script>

  <script type="text/javascript"
          src="{{ site.baseurl }}/vendor/foundation/js/foundation/foundation.clearing.js">
  </script>

  <script type="text/javascript"
          src="{{ site.baseurl }}/vendor/foundation/js/foundation/foundation.topbar.js">
  </script>


  <!-- Lightbox setup -->

  {% include lightbox-setup.html %}

  {% include lightbox-script.html %}


  <!-- Google analytics setup -->

  <script>
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,"script","//www.google-analytics.com/analytics.js","ga");

    ga("create", "UA-6185845-3", "auto");
    ga("send", "pageview");
  </script>


  <!-- Zurb foundation page setup -->

  <script>
    $(document).foundation();
  </script>
</head>
