<header class="fixed contain-to-grid">
  <nav role="navigation">
    <section class="title">
      <a href="{{ site.baseurl }}/">Pattern Parts</a>
    </section>

    <section class="links">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/galleries">Catalog</a></li>
        <li><a href="{{ site.baseurl }}/updates.html">Updates</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
    </section>
  </nav>
</header>


