<!-- Fancybox mousewheel plugin -->

<script type="text/javascript"
        src="{{ site.baseurl }}/vendor/fancybox/jquery.mousewheel-3.0.6.pack.js">
</script>


<!-- fancyBox CSS -->

<link rel="stylesheet"
      href="{{ site.baseurl }}/vendor/fancybox/jquery.fancybox.css?v=2.1.5"
      type="text/css"
      media="screen">


<!-- fancyBox library -->

<script type="text/javascript"
        src="{{ site.baseurl }}/vendor/fancybox/jquery.fancybox.pack.js?v=2.1.5">
</script>


<!-- fancyBox CSS helpers -->

<link rel="stylesheet"
      href="{{ site.baseurl }}/vendor/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5"
      type="text/css"
      media="screen">


<!-- fancyBox button, media helpers -->

<script type="text/javascript"
        src="{{ site.baseurl }}/vendor/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5">
</script>

<script type="text/javascript"
        src="{{ site.baseurl }}/vendor/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6">
</script>


<!-- fancyBox thumbnails CSS helpers -->

<link rel="stylesheet"
      href="{{ site.baseurl }}/vendor/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7"
      type="text/css"
      media="screen">


<!-- fancyBox thumbnails helpers -->

<script async type="text/javascript"
        src="{{ site.baseurl }}/vendor/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7">
</script>
