<section class="random-patterns">
  <ul>
  {% for sample in samples %}
    <li>
      <a href="{{ entry.base }}{{ sample.gallery }}">
        <img src="{{ entry.base }}{{ sample.file }}"/>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

