---
layout: gallery
title: Pattern Parts 1
description: Mixed pattern parts
tags: geometric, patterns, 2D, SVG
---

<h1>Pattern Parts (1)</h1>
<div class="hr"></div>

{% SVG_gallery 001/patterns // patterns // 200 // 0 // 4 %}
