---
layout: gallery
title: Pattern Parts 2
description: Mixed pattern parts
tags: geometric, patterns, 2D, SVG
---

<h1>Pattern Parts (2)</h1>
<div class="hr"></div>

{% SVG_gallery 002/patterns // patterns // 200 // 0 // 4 %}
