---
layout: gallery
title: Pattern Parts 3
description: Mixed pattern parts
tags: geometric, patterns, 2D, SVG
---

<h1>Pattern Parts (3)</h1>
<div class="hr"></div>

{% SVG_gallery 003/patterns // patterns // 200 // 0 // 4 %}
