---
---

// Color choices

$link-color       : #008CBA;

$link-hover-color : #333333;


// Zurb Foundation customisation

$row-width : rem-calc(1040);

$column-gutter : rem-calc(20);

$total-columns : 16;

$thumb-box-shadow-hover : 0 0 4px 2px rgba($link-color, 0.4);

$thumb-transition-speed: 400ms;

$pagination-link-current-background : $link-color;

$pagination-link-current-active-bg : #555555;


// Zurb Foundation setup

@import "foundation/scss/normalize.scss";
@import "foundation/scss/foundation.scss";


html
{
  font-size: 17px;
}


body
{
  @include grid-row;

  background-color : #ffffff;
  font-size        : 0.8rem;
  color            : #555555;
}


header
{
  @include grid-row;
  @include grid-column($columns:12, $center:true, $last-column:true, $collapse:true);

  border-bottom : 4px solid #E8E8E8;

  nav
  {
    padding-top : 0.9rem;

    section.title
    {
      @include grid-column($columns:4, $collapse:true, $float:left);

      a, a:visited
      {
        font-family     : Satisfy, cursive;
        text-decoration : none;
        font-size       : 1.7rem;
        margin-top      : 0.625rem;
        color           : #979797;
      }

      a:hover
      {
        color : #333333;
      }
    }

    section.links
    {
      @include grid-column($columns:8, $last-column:true, $collapse:true, $float:right);

      ul
      {
        @include inline-list;

        float          : right;
        vertical-align : middle;

        a, a:visited
        {
          cursor          : pointer;
          font-family     : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
          font-weight     : 700;
          font-style      : normal;
          text-decoration : none;
          font-size       : 0.95rem;
          margin-top      : 0.625rem;
          margin-left     : 1.0rem;
          color           : #979797;
          text-transform  : uppercase;
        }

        a:hover
        {
          color : #333333;
        }
      }
    }
  }
}

main
{
  @include grid-row;
  @include grid-column($columns:12, $center:true, $last-column:true, $collapse:true);

  padding-top: 1.2rem;

  h1
  {
    text-align  : center;
    font-family : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-weight : 400;
    font-style  : normal;
    font-size   : 1.7rem;
    line-height : 1.6rem;
    color       : #222222;
  }

  hr
  {
    text-align       : center;
    width            : 4.0rem;
    height           : 3px;
    color            : #555555;
    background-color : #555555;
  }

  .hr
  {
    text-align       : center;
    width            : 4.0rem;
    height           : 5px;
    color            : #555555;
    background-color : #555555;
    margin           : 0 auto;
  }

  section.catalog
  {
    @include grid-column($columns:14, $center:true, $collapse:false, $last-column:true);

    margin-top    : 2.0rem;
    margin-bottom : 4.0rem;
    text-align    : center;

    ul
    {
      @include block-grid(4, $spacing:50px);
      margin : 0;

      li
      {
        text-align : center;
        display    : inline-block;
        text-align : center;
        margin     : 12px 20px 12px 20px;
        padding    : 0;
        float      : none;
        width      : 190px;

        a
        {
          cursor          : pointer;
          font-family     : "Open Sans","Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
          font-weight     : 400;
          font-style      : normal;
          text-decoration : none;
          font-size       : 0.95rem;
          margin-top      : 0.625rem;
          color           : $link-color;
          text-transform  : capitalize;

          img
          {
            @include thumb;

            object-fit      : cover;
            object-position : top left;
            overflow        : hidden;
            width           : 190px;
            height          : 120px;
          }
        }

        a:hover
        {
          color : #333333;
        }
      }
    }
  }

  section.gallery
  {
    @include grid-column($columns:14, $center:true, $collapse:false, $last-column:true);

    margin-top    : 2.0rem;
    margin-bottom : 2.0rem;
    text-align    : center;

    ul
    {
      @include block-grid(4, $spacing:50px);
      margin : 0;

      li
      {
        text-align : center;
        display    : inline-block;
        text-align : center;
        margin     : 12px 20px 12px 20px;
        padding    : 0;
        width      : 200px;
        float      : none;

        a
        {
          cursor : pointer;

          img
          {
            @include thumb;

            object-fit      : cover;
            object-position : top left;
            overflow        : hidden;
            width           : 190px;
            height          : 120px;
            padding         : 0;
          }
        }

        a:hover
        {
          color : #333333;
        }

        div.caption
        {
          font-family : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
          font-weight : 400;
          font-style  : normal;
          font-size   : 0.90rem;

          .name
          {
            float   : left;
            display : inline-block;
          }

          .formats
          {
            float   : right;
            display : inline-block;
          }

          a
          {
            color           : $link-color;
            text-transform  : uppercase;
            text-decoration : none;
            margin          : 0.625rem 0 0 0;
          }

          a:hover
          {
            color : #333333;
          }
        }
      }
    }
  }

  section.pagination
  {
    @include pagination-container(true);

    text-align    : center;
    margin-bottom : 4.0rem;

    ul
    {
      @include pagination();

      text-align : center;
      margin     : 0;
      padding    : 0;

      li
      {
        text-align : center;
        margin     : 0;
        padding    : 0;
        float      : none;
        display    : inline-block;

        a
        {
          cursor          : pointer;
          font-family     : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
          font-weight     : 400;
          font-style      : normal;
          text-decoration : none;
          font-size       : 1.0rem;
          text-transform  : uppercase;
        }
      }
    }
  }

  section.downloads
  {
    text-align    : center;
    margin-top    : 1.0rem;
    margin-bottom : 1.0rem;

    a, a:visited
    {
      cursor          : pointer;
      font-family     : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      font-weight     : 400;
      font-style      : normal;
      text-decoration : none;
      font-size       : 0.9rem;
      color           : $link-color;
    }
  }

  section.C404
  {
    @include grid-column($columns:16, $center:true, $last-column:true);

    margin-top    : 2.0rem;
    margin-bottom : 4.0rem;
    text-align    : center;

    p
    {
      font-size   : 1.2rem;
      font-family : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      font-weight : 400;
      font-style  : normal;
      line-height : 1.9rem;
      color       : #555555;
    }

    a, a:visited
    {
      color           : $link-color;
      text-decoration : none;
    }

    a:hover
    {
      color           : #333333;
      text-decoration : none;
    }
  }

  section.text
  {
    @include grid-column($columns:16, $center:true, $last-column:true);

    margin-top    : 2.0rem;
    margin-bottom : 4.0rem;
    text-align    : center;

    h1, h2
    {
      margin      : 2.0rem 0 0 0;
      text-align  : left;
      font-family : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      font-weight : 400;
      font-style  : normal;
      font-size   : 1.4rem;
      line-height : 1.4rem;
      color       : #222222;
    }

    p
    {
      margin      : 1.0rem 0 0 0;
      text-align  : left;
      font-size   : 1.2rem;
      font-family : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      font-weight : 400;
      font-style  : normal;
      line-height : 1.95rem;
      color       : #555555;
    }

    a, a:visited
    {
      color           : $link-color;
      text-decoration : none;
    }

    a:hover
    {
      color           : #333333;
      text-decoration : none;
    }

    ul.update
    {
      padding             : 0;
      list-style-position : inside;

      li
      {
        margin      : 0.3em 0 0 0;
        text-align  : left;
        font-size   : 1.2rem;
        font-family : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
        font-weight : 400;
        font-style  : normal;
        line-height : 1.95rem;
        color       : #555555;
      }
    }
  }
}


footer
{
  @include grid-column($columns:16, $center:true, $last-column:true, $collapse:true);

  background-color : #F4F4F4;
  border-top       : 1px solid #E2E2E2;
  border-bottom    : 1px solid #E2E2E2;
  padding          : 0.7rem 0 0.7rem 0;

  section
  {
    text-align  : center;
    font-family : "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-weight : 400;
    font-style  : normal;
    font-size   : 0.9rem;
    line-height : 1.6rem;
    color       : #555555;

    a, a:visited
    {
      color           : $link-color;
      text-decoration : none;
    }

    a:hover
    {
      color           : #333333;
      text-decoration : none;
    }
  }
}
