---
layout: gallery
title: Braids&mdash;1
description: Pattern parts reminiscent of braids or plaits
tags: braid, plait
---

<h1>Braids (1)</h1>
<div class="hr"></div>

{% SVG_gallery 006-braids-01/patterns // patterns // 200 // 0 // 4 %}
