---
layout: none
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
      {{content}}
    </main>

    {% include footer.html %}

  </body>
</html>
